header {
    background: #000;
    display: flex;
    justify-content: space-between;
}
header div {
    background: fuchsia;
}
header div img {
    width: 20%;
}
header ul {
    background: yellow;
    display: flex;
    list-style: none;
}
nav {
    background: darkgray;
    padding-right: 1500px;
    margin-left: 20px;
}
header li {
    background: red;
    border: solid white;
}
main {
    background: aqua;
}
section {
    background: pink;
}