ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: right;
  }
  li {
    background: lightgrey;
    color: brown;
    width: 150px;
    text-align: center;
    border: solid 2px black;
  }
  p {
    display: flex;
    flex-direction: row;
  }
a {
    display: block;
}